{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajouter un lieu</h1>
    <p>Pour t'aider à compléter les infos, rends toi <a href="https://www.google.com/maps" target="_blank">ici</a>. Et
        récupère la localisation. </p>
    {{ form_start(lieuForm) }}
    {{ form_row(lieuForm.nom) }}
    <div id="rue">{{ form_row(lieuForm.rue) }}</div>
    <div id="ville">{{ form_row(lieuForm.ville) }}</div>
    {{ form_end(lieuForm) }}


    {#<script>
        let rue = '';
        let ville = '';
        let baseUrl = "https://api-adresse.data.gouv.fr/search/?q=";
        document.getElementById("lieu_rue").addEventListener("keyup", () => {
            rue = document.getElementById("lieu_rue").value.replace(/ /g, "+");
            url = baseUrl + rue + '+' + ville;
        });

        let selectElem = document.getElementById("lieu_ville");
        selectElem.addEventListener("change", () => {
            ville = selectElem.options[selectElem.selectedIndex].innerText;
            url = baseUrl + rue + '+' + ville;

            let reponse = fetch(url)
                .then(res => res.json)
                .then(
                    json=>{
                        json['']
                    }
                )
            console.log(reponse);
        });


    </script>#}

{% endblock %}

    {% block title %}


    {% endblock %}

