{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(lieuForm) }}
    {{ form_row(lieuForm.nom) }}
    <div id="rue">{{ form_row(lieuForm.rue) }}</div>
    {{ form_row(lieuForm.latitude) }}
    {{ form_row(lieuForm.longitude) }}
    <div id="ville">{{ form_row(lieuForm.ville)}}</div>
    {{ form_end(lieuForm) }}

    <script>
        document.addEventListener("change", () => {
            let ville = document.getElementById('ville').value;
            console.log(ville)})
        document.addEventListener("keyup", () => {
            let ville = document.getElementById('ville').value;
            console.log(ville);
            let rue = document.getElementById("rue").value;
            let url = "https://api-adresse.data.gouv.fr/search/?q=" + ville + "+" + rue;
            console.log(url);
            fetch(url)
                .then(response=>response.json())
                .then(response=>JSON.stringify(response));
        }
        )
    </script>

    {% endblock %}

    {% block title %}

    {% endblock %}

