{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>S'inscrire</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}

        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.pseudo) }}
        <h2>4 catactères min</h2>
        {{ form_row(registrationForm.mail) }}
        {{ form_row(registrationForm.telephone) }}
        {{ form_label(registrationForm.site) }}
        {{ form_widget(registrationForm.site) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <h2>Au moins 8 caractères, une majuscule, un chiffre et un caractère spécial</h2>
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
