{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    <div class="container">
    <div class="w-full max-w-sm">

        {{ form_start(registrationForm) }}
        <form>
            <div class="mb-4">
                {{ form_label(registrationForm.nom) }}
                {{ form_widget(registrationForm.nom)}}
            </div>
            <div class="mb-4">
                {{ form_label(registrationForm.prenom) }}
                {{ form_widget(registrationForm.prenom)}}
            </div>
            <div class="mb-4">
                {{ form_label(registrationForm.pseudo) }}
                {{ form_widget(registrationForm.pseudo)}}
            </div>
            <div class="mb-4">
                {{ form_label(registrationForm.mail) }}
                {{ form_widget(registrationForm.mail) }}
            </div>
            <div class="mb-4">
                {{ form_label(registrationForm.telephone) }}
                {{ form_widget(registrationForm.telephone) }}
            </div>

                {{ form_label(registrationForm.site) }}
                {{ form_widget(registrationForm.site) }}


            <div class="mb-6">
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
            <div class="flex items-center justify-between">

                <a href="#">
                    Mot de passe oublié ?
                </a>
                {{ form_end(registrationForm) }}
            </div>
        </form>

        {{ form_errors(registrationForm) }}
    </div>
    </div>
{% endblock %}
