{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="bienvenue pro mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">{{ participant.pseudo }}
        :</h1>

    <div class="profilParticipant  flex flex-col items-center ">

        <p class="text-xl"><span class="font-bold">Nom : </span>{{ participant.nom }}</p>
        <p class="text-xl"><span class="font-bold">prénom : </span>{{ participant.prenom }}</p>
        <p class="text-xl"><span class="font-bold">Site : </span>{{ participant.site.nom }}</p>


    </div>

<h2  class=" participe text-4xl font-extrabold dark:text-white">Participe à :</h2>

        {% for sortie in participant.sorties %}
            {% include 'sortie/templateListe.html.twig' %}
        {% endfor %}


{% endblock %}

{% block title %}
    {{ participant.pseudo }}
{% endblock %}

