{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="bienvenue pro mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">{{ app.user.pseudo }}
        :</h1>

    <div class="profilParticipant  flex flex-col items-center ">

        <p class="text-xl"><span class="font-bold">Nom : </span>{{ app.user.nom }}</p>
        <p class="text-xl"><span class="font-bold">prénom : </span>{{ app.user.prenom }}</p>
        <p class="text-xl"><span class="font-bold">téléphone : </span>{{ app.user.telephone }}</p>
        <p class="text-xl"><span class="font-bold">Email : </span>{{ app.user.mail }}</p>
        <p class="text-xl"><span class="font-bold">Site : </span>{{ app.user.site.nom }}</p>

        <a class="boutonProfil bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" href="{{ path('main_modifProfil') }}">Modifier mon profil</a>
    </div>







    <h2  class=" participe text-4xl font-extrabold dark:text-white">Participe à :</h2>

    {% for sortie in app.user.sorties %}
        {% include 'sortie/templateListe.html.twig' %}
    {% endfor %}


{% endblock %}

{% block title %}
{{ app.user.userIdentifier }}
{% endblock %}

