{% extends 'base.html.twig' %}



{% block body %}

    <div class="container">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{sortie.nom}}</div>
            <p class="text-gray-700 text-base">
                {{sortie.infosSortie}}</p>
            <p class="text-xl mb-2">Quand?</p>
            <div>
                <p>Le {{sortie.dateHeureDebut|date ('d/m/y')}} à {{sortie.dateHeureDebut|date ('H')}}h{{sortie.dateHeureDebut|date ('i')}}</p>
            </div>
            <div>Date limite inscription : {{sortie.dateLimiteInscription |date ('d/m/y H:i')}}</div>
            <div>Nombre de places : {{sortie.nbInscriptionsMax}}</div>
            <div>Durée : {{sortie.duree}} minutes</div>
            <div class="text-xl mb-2">Où? </div>
            <div>Lieu : {{sortie.lieu.nom}}</div>
            <div>{{sortie.lieu.rue}} {{sortie.lieu.ville.codePostal}} {{sortie.lieu.ville.nom}}</div>

            <p class="text-xl mb-2">Participants :</p>
            <ul>
                {% for participant in sortie.participants | sort %}
                    {% if participant is same as (app.user) %}
                        <li>
                            <img src="" alt="Image de profil">
                            <p>Vous</p>
                        </li>
                    {% endif %}
                    {% if participant is not same as(app.user) %}
                        <li>
                            <img src="" alt="Image de profil">
                            <p>{{ participant.pseudo }}</p>
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>


        </div>
        <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{ sortie.nom }}</span>

        </div>
    </div>
</div>





{% endblock %}