{% extends 'base.html.twig' %}



{% block body %}
    <div>{{sortie.nom}}</div>
    <div>{{sortie.dateHeureDebut|date ('d/m/y H:i')}}</div>
    <div>{{sortie.dateLimiteInscription |date ('d/m/y H:i')}}</div>
    <div>{{sortie.nbInscriptionsMax}}</div>
    <div>{{sortie.duree}}</div>
    <div>{{sortie.infosSortie}}</div>
    <div>{{sortie.lieu.nom}}</div>
    <div>{{sortie.lieu.nom}}</div>
    <div>{{sortie.lieu.rue}}</div>
    <div>{{sortie.lieu.ville.codePostal}}</div>



{% endblock %}