{% extends 'base.html.twig' %}



{% block body %}
    <div class="flex justify-center">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        {# <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains"> #}
        <div id="sorties" class="px-6 py-4">

                <div class="texteBleu font-bold text-xl mb-2">{{ sortie.nom }}</div>
                <div class="texteRose font-bold text-base mb-2">{{ sortie.dateHeureDebut|format_datetime(locale='fr') }}</div>
                <div class="texteBleu font-bold text-base ">Inscrivez vous jusqu'au :</div>
                <div class="texteBleu font-bold text-xl mb-2">{{ sortie.dateLimiteInscription |format_datetime(locale='fr') }}</div>
                <div class="font-bold text-sm mb-2">Inscriptions : {{ sortie.participants.count }}
                    / {{ sortie.nbInscriptionsMax }}</div>

            <div class="font-bold text-sm mb-2">{{ sortie.etat.libelle }}</div>
            <div class="font-bold text-sm mb-2">Organisé par <a href="{{ path('profilParticipant', {'participant': sortie.organisateur.id}) }}" class="texteBleu">{{ sortie.organisateur.pseudo }}
                </a></div>
            <div class="font-bold text-sm mb-2">{{ sortie.infosSortie }}</div>
            {% if sortie.etat.statutNom == 'OUVERT'
                and sortie.dateLimiteInscription > "now"
                and sortie.nbInscriptionsMax > sortie.participants.count
                and app.user not in sortie.participants %}
                <a href="{{ path('sortie_inscription', {'sortie': sortie.id}) }}"> S'inscrire </a>
            {% endif %}

           {# <ul>
                {% for participant in sortie.participants | sort %}
                    {% if participant is same as (app.user) %}
                        <li>
                            <img src="{{ asset('images/participants/'~app.user.imageName) }}" alt="Photo de profil">
                            <p>Vous</p>
                        </li>
                    {% endif %}
                    {% if participant is not same as(app.user) %}
                        <li>
                            <img src="{{ asset('images/participants/'~participant.imageName) }}" alt="Photo de profil">
                            <a href="{{ path('profilParticipant', {'participant': participant.id}) }}">
                                <p>{{ participant.pseudo }}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>#}


            {% if sortie.etat.statutNom == 'OUVERT'
                and sortie.dateLimiteInscription > "now"
                and app.user in sortie.participants %}

                <a href="{{ path('sortie_desistement', {'sortie': sortie.id}) }}"
                   style="color:darkred">
                    Se désister
                </a>

            {% endif %}

            {% if sortie.etat.statutNom == 'OUVERT'
                and sortie.organisateur.pseudo == app.user.userIdentifier
                and sortie.dateLimiteInscription > "now" %}
                <a
                        data-id="{{ sortie.id }}"
                        class="annulation"
                        style="color:darkred">
                    Annuler
                </a>
            {% endif %}

            {% if sortie.etat.statutNom == 'EN_CREATION'
                and  sortie.organisateur.pseudo == app.user.userIdentifier %}
                <a href="{{ path('sortie_publier', {'sortie':sortie.id}) }}"
                   style="color:#3a8b00">
                    Publier
                </a>
                <a href="{{ path('sortie_supprimer', {'sortie':sortie.id}) }}"
                   style="color:darkred">
                    Supprimer
                </a>
                <a href="{{ path('sortie_modification', {'id': sortie.id}) }}"
                   style="color:#3a8b00">
                    Modifier
                </a>
            {% endif %}
            {% if sortie.participants.count != 0 %}
                <div class="font-bold text-sm mt-2">Participants :</div>
            {% endif %}

            {% for participant in sortie.participants %}
                <a href="{{ path('profilParticipant', {'participant': participant.id}) }}">
                    {{ participant.pseudo }}
                </a>
            {% endfor %}
        </div>

        <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{ sortie.nom }}</span>
        </div>
    </div>
    </div>





{% endblock %}