{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}

    <div class="flex flex-col items-center mb-8">
        <h1 class="font-bold text-xl mb-2 dark:text-white">Evénements </h1>
        <small class="ml-2 font-semibold text-gray-500 dark:text-gray-400">Crée un compte pour t'inscrire à des
            événements</small>
        <a href="{{ path('app_register') }}">S'inscrire</a>
    </div>


    <div class="conteneur grid grid-cols-1 lg:grid-cols-4 gap-4">
        {% for sortie in sorties %}
            {% if sortie.etat.statutNom != 'EN_CREATION'
                and sortie.etat.statutNom != 'ARCHIVE' %}
                <div class="max-w-sm rounded overflow-hidden shadow-lg ">
                    <div class="px-6 py-4 flex flex-col items-center lg:items-start">
                    {% if sortie.imageName %}

                        <img class="max-h-56 mb-4 rounded-lg self-center" src="{{ asset('images/sorties/'~sortie.imageName) }}"
                             alt="photo sortie"/>

                    {% else %}
                        <img class="max-h-56 mb-4 rounded-lg" src="{{ asset('images/sorties/SortieParDefaut.jpg') }}"
                             alt="photo sortie"/>
                    {% endif %}
                    <div class="px-6 py-4 flex flex-col items-center lg:items-start">
                        <div class="texteBleu font-bold text-xl mb-2">{{ sortie.nom }}</div>
                        <div class="texteRose font-bold text-base mb-2">{{ sortie.dateHeureDebut|format_datetime(locale='fr') }}</div>
                        <div class="font-bold text-sm mb-2">Inscriptions : {{ sortie.participants.count }}
                            / {{ sortie.nbInscriptionsMax }}</div>
                        <div class="font-bold text-sm mb-2">{{ sortie.etat.libelle }}</div>
                        <div class="font-bold text-sm mb-2">Organisé par <span
                                    class="texteBleu">{{ sortie.organisateur.pseudo }}</span></div>
                        <p class="text-gray-700 text-base">
                            {{ sortie.infosSortie }}
                        </p>

                    </div>
                    <div class="px-6 pt-4 pb-2 flex justify-center lg:justify-start">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{ sortie.nom }}</span>
                    </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>



{% endblock %}