{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="font-bold text-xl mb-2 dark:text-white">Evénements <small
                    class="ml-2 font-semibold text-gray-500 dark:text-gray-400">Crée un compte pour t'inscrire à des
                événements</small></h1>
    </div>
    <div class="container">
        <a href="{{ path('app_register') }}">S'inscrire</a>
    </div>>
    <div class="toutSortie grid grid-cols-4 gap-4 items-center ">
        {% for sortie in sorties %}
            {% if sortie.etat.statutNom != 'EN_CREATION'
                and sortie.etat.statutNom != 'ARCHIVE' %}
                <div class="container">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <div class="passage">
                            <div class="px-6 py-4">
                                <div class="font-bold text-xl mb-2"><h2>{{ sortie.nom }}</h2></div>
                                <p class="text-gray-700 text-base">
                                    {{ sortie.dateHeureDebut|format_datetime(locale='fr') }}</p>
                                <p class="text-gray-700 text-xs">
                                    {{ sortie.dateLimiteInscription|date('d-m-Y') }}</p>
                                <p>Inscriptions : {{ sortie.participants.count }}
                                    / {{ sortie.nbInscriptionsMax }}</p>
                                <p>{{ sortie.etat.libelle }}</p>
                                <p>Organisé par {{ sortie.organisateur.pseudo }}</p>
                            </div>
                        </div>
                        <div class="px-6 pt-4 pb-2">
                            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{ sortie.nom }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

{% endblock %}